body{
    background-color: rgb(23, 13, 73);
    margin:0;
    padding:0;
}
p{
    font-family: 'Futura';
    font-size: 2em;
    color: aliceblue;
}
a:visited{
    color:rgb(175, 210, 175);
    font-size: 2em;
}
a:hover{
    color:aliceblue;
    font-size: 2em;
}
