body{
    background-color: rgb(23, 13, 73);
    margin: 50px;;
    padding:5px;
}
p{
    font-family: 'Futura';
    font-size: 2em;
    color: aliceblue;
}
a:visited{
    color:rgb(175, 210, 175);
}
a:hover{
    color:aliceblue;
}
a{
    font-size: 25px;
}
img{
    margin-top: 25px;
}
